button{
  margin:0 1rem;
  padding: 6px;
  background-color: greenyellow;
  border-radius: 10px;
}
button:hover{
  background-color: rgb(9, 153, 49);
}
input{
  margin:0 1rem;
  padding: 6px;
  /* background-color: greenyellow; */
  border-radius: 10px;
}
/* ol{
  list-style: none;
  text-align: left;
  margin: 0 auto;
} */
.prevNextButton{
  margin-bottom: 1rem;
}
.todos{
  display: flex;
  margin-top: 1rem;
  /* width: 5rem; */
  
}
.todos li{
  /* margin-left: 1rem; */
  margin: 6px 0;
  
}